<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_stock_database_Connection" connectionString="XpoProvider=MSSqlServer;data source=ST-APP\ARMYTECH;user id=sa;password=sa@12345;initial catalog=stock_database;Persist Security Info=true" />
    </connectionStrings>
</configuration>